/* KEEP THESE INITIAL STYLES*/

body {
  background-color: #FFF;
}

main {
  max-width: 200ch;
  margin: 1rem auto;
  background-color: grey;

  min-height: 1000px;
}

/* KEEP THESE INITIAL STYLES*/

main {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
}

article {
  background-color: #fff;
  width: 100%;
  min-height:950px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

aside > div {
  min-height: 325px;
  background-color: white;
  width: 100%;
}

@media screen and (min-width: 700px){
  aside {
    flex-direction: row;
  }
}

@media screen and (min-width: 810px){
  main {
    grid-template-columns: 1.8fr 1fr;
  }

  aside {
    flex-direction: column;
  }
}


